body {
	background-image: url("../images/background.png")
}


.page-header {
	/*background-color: red;*/
	text-align: center;
	color: white;
}

.row {
	text-align: center;
}

.box {
	border-style: solid;
	border-width: 1px;
	height: 250px;
	background-color: white;
	/*color: white;*/
}

.display {
	/*border-style: solid;*/
	height: 100px;
}

.test {
	vertical-align: middle;

}

#chatDisplay {
	height: 150px;
	width: 100%;
	overflow: auto;
	text-align: left;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#textField {
	width: 80%;
	float: left;
	margin-left: -5px;
	border-color: black;
}

#sendChat {
	background-color: red;
	border-color: black;
}

.btn-default {
	float: right;
	border-color: black;

}

#chatDisplay {
	background-color: white;
}
