/*body {
	background-image: url("../images/background.png")
}
*/

.page-header {
	background-color: red;
	text-align: center;
}

.row {
	text-align: center;
}

.box {
	border-style: solid;
	height: 250px
}

.display {
	/*border-style: solid;*/
	height: 100px;
}

#player1Stats, #player2Stats {
	background-color: green;
}